{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asdsad</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://materializecss.com/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://materializecss.com/templates/starter-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"> </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#"></a></li>
            <a class="waves-effect waves-light btn blue" style="width: 90%;" href="{%url 'url_insert'%}" ><i class="material-icons right">brightness_1</i>Cadastro</a><br>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
   <form method="POST">
     {%csrf_token%}
      <ul class="collection" >
       <li>
         
      </li>
      </ul>
      <h4><b>Deseja Realmente apagar ? <br>({{delete.nome_aluno}})</b></h4>
      <button type="submit"  class="waves-effect btn blue" ><i class="material-icons right">delete_forever</i>Sim</button>
      <a href="{%url 'url_read'%}" class="waves-effect btn blue" ><i class="material-icons right">delete_forever</i>Não</a>
    </form>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://materializecss.com/bin/materialize.js"></script>
    <script src="https://materializecss.com/templates/starter-template/js/init.js"></script>
</body>
</html>