<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
</head>
<body>
    {%for cont in Alunos%} <br> <br>
   <label>Nome:</label> {{cont.nome_aluno}} <br>
   <label>Email:</label> {{cont.email}} <br>
   <label>Disciplina:</label> {{cont.disciplina}} <br> <br>
   <a href="/update/{{cont.id}}">Update</a>&nbsp&nbsp&nbsp&nbsp<a href="/deleting/{{cont.id}}">Delete</a>
   {%endfor%} <br><br><br>
   <a href="{% url 'url_insert' %}">New</a>
</body>
</html>